# tex aux files
*.log
*.bbl
*.toc
*.out
*.bcf
*.blg
*.aux
*.pytx*
*.run.xml
*.synctex*
*.fls
*.fdb*
*.lof
*.pkl
*.swp
*.lot
*.glg
*.glo
*.gls
*.ist
*.acr
*.alg
*.acn
*.mw
*.xmpi
*.toa
*.app
*.slo
*.sls
*.slg
*.cstog
*.cstig
*.cgls
*.nav
*.snm
*.pdf
*.so
